body {
  background-color: rgb(57, 172, 57);
}

.container {
  text-align: center;
  background-color: rgb(231, 226, 226);
  padding: 20px;
  border-radius: 45px;
  margin: auto;
  min-width: 400px;
  max-width: 400px;
  margin-top: 50px;
}
.display {
  font-size: 2em;
  width: 98%;
  text-align: right;
}

.btn {
  width: 100%;
  height: 40px;
  background-color: #dfdfdf;
  font-size: 1.25em;
  cursor: pointer;
}

.btn:hover {
  background-color: #b8b8b8;
}
