body {
  background-color: rgb(39, 51, 39);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  text-align: center;
  background-color: rgb(44, 42, 42);
  color: beige;
  padding: 45px;
  border-radius: 16px;
  width: 400px;
}

.display {
  font-size: 2.5em;
  width: 90%;
  text-align: right;
  margin: 1rem 0;
  background-color: #464646;
  color: beige;
  border: none;
  border-radius: 8px;
}

.btn {
  background-color: #c27114;
  color: black;
  border-radius: 50%;
  font-size: 1.25em;
  cursor: pointer;
  margin: 5px 0;
  width: 60px;
  height: 60px;
}

.btn:hover {
  background-color: #1b1b1b;
  color: beige;
}

.title{
  letter-spacing: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}